body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:745px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:103px;
  width:420px;
  height:744px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:449px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:176px;
  width:300px;
  height:448px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:748px;
  width:83px;
  height:83px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:756px;
  width:67px;
  height:67px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:636px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:103px;
  width:420px;
  height:635px;
  color:#33CC66;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:497px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:164px;
  width:300px;
  height:496px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:496px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:164px;
  width:300px;
  height:496px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:670px;
  width:309px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:473px;
  height:954px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:745px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:105px;
  width:420px;
  height:744px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:383px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:436px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:494px;
  width:42px;
  height:22px;
  font-size:18px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:375px;
  width:220px;
  height:43px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:501px;
  width:220px;
  height:43px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:436px;
  width:220px;
  height:43px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:98px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:715px;
  width:115px;
  height:97px;
  font-size:28px;
  color:#000000;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1045px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:1045px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
